body {background-color:#000;color:rgb(255,255,255);}
#console {font-family:Consolas, Sans-Serif;}
#center {background-image:url('../ASSETS/img/anon.jpg');background-size: auto 300px;}
.folder {background-color:rgb(255,255,255);}
.dragme {border-color:rgb(255,255,255);color:rgb(255,255,255);}
#button {background-color:rgb(50,140,178);color:rgb(255,255,255);}
#button:hover {color:rgb(50,140,178);background-color:rgb(255,255,255);}