html, body {
  color: #555;
  font-family: sans-serif;
  margin: 2em;
  background-color: #fff;
}

h1 {  font-family: "Segoe UI Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;}
   
   p {color:#7b7b7b;}

* {
  box-sizing: border-box;
}

a {
  color: white;
  background: white;
  display: inline-block;

  font-size: 20;

  margin:1px;
cursor:default;
}

a:visited {
  color: orange;
  background:orange;
  cursor:pointer;

}

a:hover {
  color: white;
    background: white;
}

.clicked {
  opacity: 0;
  -webkit-transition: opacity .1s;
     -moz-transition: opacity .1s;
      -ms-transition: opacity .1s;
       -o-transition: opacity .1s;
          transition: opacity .1s;
}

#squares {
    margin-bottom: 2em;
}

button {padding:15px;font-size:18px;}
