body {background-image:url('../ASSETS/textures/0.png');background-color:rgb(0,0,0);color:rgb(245,245,245);}
#console {font-family:Fixedsys, Sans-Serif;}
#center {background-image:url('../ASSETS/logos/0.png');}
.folder {background-color:rgb(245,245,245);}
.dragme {border-color:rgb(245,245,245);color:rgb(245,245,245);}

#button {background-color:rgb(245,245,245);color:rgb(0,0,0);}
#button:hover {color:rgb(245,245,245);background-color:rgb(0,0,0);}