body {background-image:url('../ASSETS/textures/1.png');background-color:rgb(131,234,83);color:rgb(131,234,83);}
#console {font-family:Arial, Sans-Serif;}
#center {background-image:url('../ASSETS/logos/scp.png');background-size: auto 200px;}
.folder {background-color:rgb(131,234,83);}
.dragme {border-color:rgb(131,234,83);color:rgb(131,234,83);}

#button {background-color:rgb(50,140,178);color:rgb(255,255,255);}
#button:hover {color:rgb(50,140,178);background-color:rgb(255,255,255);}